*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
    width: 100%;
    height: 100%;
}

nav{
    display: flex;
    width: 100%;
    justify-content:space-around;
    background-color: aqua;
    height: 8vh;
    align-items:center;
}
#itm1{
    display: flex;
}
#itm2{
    display: flex;
}
a{
text-decoration: none;
}
h5{
    margin: 10px;
}
.maindiv{
    display: flex;
    margin: 0px;
    padding: 0px;
    width: 100%;

}
.main1{
    width: 70%;
    height:150vh ;
    background-color:brown;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.main2{
    width: 30%;
    height: 150vh;
    background-color: red;

}
.inform{
    width: 95%;
    height: 55vh;
    background-color: antiquewhite;
    display: flex;

}
.reward{
    width: 95%;
    height: 25vh;
    background-color: yellow;
}

.div1{
width: 30%;
height: 55vh;
background-color: black;
}
.div4{
    width: 70%;
    height: 55vh;
    background-color:red;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3%;

    align-content:space-around;
}
.div44{
    width: 40%;
    height: 25vh;
    background-color:orangered;
    border: 2px solid black;
}
.Staking{
    width: 95%;
    height: 60vh;
    background-color: white;
}
.inf1{ 
    width: 40%;
    height:60vh;

}
.inf2{
    width: 60%;
    height:60vh;
}